*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(232, 215, 215) 0%, rgb(213, 115, 55) 100%); 
    /* background: white;  */
    /* height: 100vh; */
    /* padding-top: 1rem; */
}
.usericon{
    text-align: center;
}
#icon1{
    font-size: 8rem;
    color:rgb(222, 66, 19);
    /* margin-left: 10.1rem;  */
    margin-top: 10px;
    display: inline-block;

}
#icon2{
    color:rgb(222, 66, 19);
    margin-top: 5px;
}
#icon3{
    color:rgb(222, 66, 19);
    margin-top: 5px;
}

#formpage{
    width: 450px;
    margin:  auto;
    background: white;
    overflow-y: hidden;
    box-shadow: 5px 5px 23px -4px gray !important;



    
}
.headline{
    text-align: center;
}
.welcome{
    font-size: 10px;
    text-align: center;

} 
.input-type{
    margin: 15px 40px;
    font-size: 18px;
    display: flex;
    flex-direction: column;

} 

.input-type input{
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px; 
    outline: none;
    /* transition: 0.3s; */
}

.input-type input:focus {
    border: 2px solid rgb(233, 95, 54);
    border-color:rgb(233, 95, 54) ;
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); */
}


.input-type label{
    font-weight: 500;
    margin: 5px 10px;
}
.loginbtn{
    text-align: center;
}
.login{
    padding: 7px;
    display: inline-block;
  margin: 30px 0;  
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(222, 66, 19);
    width: 80% ;
    /* margin-left: 2.8rem;  */
    font-weight: bold;
    color:white ;
}
.login:hover{
    
    background-color:rgb(170, 49, 13);
}

.checkbox{
    text-decoration: none;
    font-size: 13px;  
    justify-content: space-between;
    /* margin-left: 45px; */
   
 }
 

 .forgot{
    text-decoration: none;
    font-size: 13px;
    /* margin-left: 9.7rem; */
    color:rgb(222, 66, 19);
}

/* OTP Modal Styles */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    /* padding: 3rem 30rem; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    width: 45% !important;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(232, 215, 215) 0%, rgb(230, 142, 87) 100%); 

}

.close {
     position: absolute;
     top: px; 
     right: 10px; 
    font-size: 30px;
    cursor: pointer;
    margin-left: 32rem;
    font-weight: bold;
    
}

#resend{
    text-decoration: none;
    color:rgb(222, 66, 19);
    margin-left: 6rem;
}
.otpBtn{
    text-align: center;
}

#Submit{
    padding: 7px;
    /* margin:20px 55px; */
    margin-top: 20px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(222, 66, 19);
    width: 30% ;
    /* margin-left: 12.2rem;  */
    font-weight: bold;
    color:white ;
    display: inline-block;
}
.submit:hover{
    
    background-color:rgb(170, 49, 13);
}

#user-icon{
    color:rgb(222, 66, 19);
}



 
  #print-table th{
    color:white;
    background-color:rgb(229, 102, 64);
  }
.parent-container1{
    display: flex;
    justify-content: end;
    /* text-align: end; */
}
  
  
  .add{
    /* margin-left: 87rem; */
    background-color:rgb(222, 66, 19);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px;
    border-color:rgb(222, 66, 19) ;
  }
  .add:hover{
    
    background-color:rgb(170, 49, 13);
}
.form-floating input{
    width: 90%;
    margin-left: 24px;
}
.form-floating label{
color: grey;
font-size: 12px;
}
option{
    font-size: 12px;
    width: 90%;
    margin-left: 15px;
}

.form-floating select{
    width: 90%;
    margin-left: 24px;
}
.parentcontainer{
    text-align: end;
}
.savebutton{
    border: none;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color:rgb(222, 66, 19);
    border-color:rgb(222, 66, 19) ;
    display: inline-block;
    margin-right: 22px;

}
.savebutton:hover{

    background-color:rgb(170, 49, 13);
}

#creatTable th{
    color:white;
    background-color:rgb(229, 102, 64);
}

.underInput:hover{
    border-color:rgb(229, 102, 64);
}

#formContent{
    margin-left: 11px;
}
#creatTable{
    width: 96.2%;
    margin-left: 2%;
}

.createVendor{
    text-align: center;
    margin-top: 3rem;
    color:rgb(222, 66, 19);
}


@media only screen and (min-width:1023px) and (max-width:1439px){

    #formpage {
        width: 329px !important;
        box-shadow: 5px 5px 23px -4px gray !important;


}

}

@media only screen and (min-width:767px) and (max-width:1022px){
    #formpage {
    /* width: 249px !important; */
    margin-bottom: 40px !important;
    box-shadow: 5px 5px 23px -4px gray !important;

}
.savebutton{
    margin-right: 11px !important;
}
.modal-content{
    width: 65% !important;
}

}



@media only screen and (min-width:424px) and (max-width:766px){
    #formpage {
        margin-bottom: 40px !important;
        box-shadow: 5px 5px 23px -4px gray !important;
}
#creatTable{
    width: 102% !important;
}
.savebutton{
    margin-right: -17px  !important;
}
.createVendor{
    margin-left: 1.5rem !important;
}
.add{
    margin-left:36.7rem !important;
}
.parent-container1{
    margin-left:181% !important ;
}
#circleUser{
    margin-top: 12px !important;
}
.modal-content{
    width: 95% !important;
}
}


@media only screen and (min-width:374px) and (max-width:423px){
    #formpage {
        /* width: 249px !important; */
        margin-bottom: 40px !important;
        box-shadow: 5px 5px 23px -4px gray !important;
    }
   
    #creatTable{
        width: 116% !important;
    }
    .savebutton{
        margin-right: -67px !important;
    }
    .createVendor{
        margin-left: 4.8rem;
    }
    .parent-container1{
        margin-left:203% !important ;
    }
    .add{
        margin-left:36.7rem !important;
    }
    #circleUser{
        margin-top: 12px !important;
    }
    .modal-content{
        width: 95% !important;
    }
}


@media only screen and (min-width:319px) and (max-width:374px){
    #formpage {
        /* width: 249px !important; */
        margin-bottom: 40px !important;
        box-shadow: 5px 5px 23px -4px gray !important;
    }
    #creatTable{
        width: 136.2% !important;
    }
    .savebutton{
        margin-right: -122px !important;
    }
    .createVendor{
        margin-left: 8rem;
    }
    .parent-container1{
        margin-left:238% !important ;
    }
    .add{
        margin-left:36.7rem !important;
    }
    #circleUser{
        margin-top: 12px !important;
    }
    .modal-content{
        width: 95% !important;
    }
}

